name: Run JS file from Actions

on:
    push:
        branches:
            - main

jobs:
    js: 
        runs-on: ubuntu-latest
        
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup Nodejs
              uses: actions/setup-node@v4
              with:
                node-version: 20

            - name: Fetching Js
              run: "./test.js"